<%- include("partials/header.ejs"); %>
      <!-- Home page -->

      <!-- Jumbo Section -->

      <div id="jumbotron" class="container my-5 py-5 text-center">
        <h1>Immerse Yourself in Anime Magic!</h1>
        <p class="col-lg-8 mx-auto lead">
          Anime isn't just entertainment; it's a passport to adventure, a
          journey through emotions, and a gateway to endless creativity. Dive in
          and let the anime magic sweep you away! 🌟
        </p>
      </div>

      <!-- Recommendations -->

      <% if (locals.res) { %>
      <div class="container">
        <h3 class="mb-4">Recommendations</h3>
        <div class="row row-gap-5">
          <% for (let i = 0; i < 9; i++) { %>
          <div class="col-4">
            <div class="card shadow-sm px-2 py-2">
              <div class="row">
                <div class="col-6">
                  <img src="<%= res.data[i].entry[0].images.jpg.image_url %>"
                  alt="anime-poster" width="100%" height="225" />
                  <p class="anime-title text-center"><%= res.data[i].entry[0].title %></p>
                </div>
                <div class="col-6">
                  <img
                    src="<%= res.data[i].entry[1].images.jpg.image_url %>"
                    alt="anime-poster"
                    width="100%"
                    height="225"
                  />
                  <p class="anime-title text-center"><%= res.data[i].entry[1].title %></p>
                </div>
              </div>
              <div class="card-body" height="200px">
                <p class="card-text">
                  <%= res.data[i].content %>
                </p>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <% } %>

      <!-- Error-Handling -->
      <% if (locals.error) { %>
        <div class="container">
          <h1><%= error %></h1>
        </div>
      <% } %>

      <%- include("partials/footer.ejs"); %>
